<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ExtAspNet" type="ExtAspNet.ConfigSection, ExtAspNet"/>
	</configSections>
	<!-- 可用的配置项（这里列的都是默认值）:Language="zh_CN" AjaxTimeout="60" EnableAjax="true" Theme="blue" FormMessageTarget="qtip" FormOffsetRight="20" FormLabelWidth="100" FormLabelSeparator="：" IconBasePath="~/icon" EnableAjaxLoading="true" AjaxLoadingType="default" CustomTheme="" CustomThemeBasePath="~/theme" -->
	<ExtAspNet EnableBigFont="true" DebugMode="false"/>
	<appSettings>
  <add key="FileUploadPathBug" value="~/BugAttachment/" />
  <add key="FileUploadPathProject" value="~/ProjectAttachment/" />
  <add key="FileTypeLimit" value=".zip,.rar,.doc,.xls,.ppt,.txt,.jpg,.gif,.xlsx,.docx,.pptx" />
  <add key="FileSizeLimit" value="10240" />
  <add key="FolderSizeLimit" value="102400" />
  <add key="EnableAuthentication" value="true" />
  <add key="ChartImageHandler" value="storage=file;timeout=20;" />
    <add key="encryptKey" value="gjsygcsx" />
 </appSettings>
	<connectionStrings>
		<add name="RSSMWeb.Properties.Settings.str_conn" connectionString="Data Source=192.168.120.5;Initial Catalog=rssmgm2;Persist Security Info=True;User ID=sa;Password=sa123;Max Pool Size=500; Min Pool Size=50"/>
		<add name="RSSMWeb.Properties.Settings.str_conn_ERP" connectionString="Data Source=192.168.120.3;Initial Catalog=RUICHI;Persist Security Info=True;User ID=rss;Password=rss9955"/>
    <add name="RSSMWeb.Properties.Settings.str_conn_Att" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\att2000.mdb"/>
	</connectionStrings>
	<system.web>
		<!-- 
            设置 compilation debug="true" 可将调试符号插入
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        --> 
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<!--
            通过 <authentication> 节可以配置 ASP.NET 用来 
            识别进入用户的
            安全身份验证模式。 
        -->
		<customErrors mode="Off"/>
		<authentication mode="Windows"/>
		<!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
   <controls>
    <add tagPrefix="ext" namespace="ExtAspNet" assembly="ExtAspNet" />
    <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
     assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
   </controls>
  </pages>
		<httpHandlers>
   <add path="res.axd" verb="GET" type="ExtAspNet.ResourceHandler, ExtAspNet" />
   <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
  </httpHandlers>
		<httpModules>
			<add name="ExtAspNetScriptModule" type="ExtAspNet.ScriptModule, ExtAspNet"/>
		</httpModules>
		<!--每次请求最大长度40M，页面执行最长时间60秒-->
		<httpRuntime maxRequestLength="40960" executionTimeout="60"/>
   
	</system.web>
	<!-- 
        在 Internet 信息服务 7.0 下运行 ASP.NET AJAX 需要 system.webServer
        节。对早期版本的 IIS 来说则不需要此节。
    -->
	<system.webServer>
  <validation validateIntegratedModeConfiguration="false" />
  <handlers>
   <remove name="ChartImageHandler" />
   <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
    path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </handlers>
 </system.webServer>

  <location path="myjob/MyMessage_New.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="login.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
  <location path="bugTracer/bug_details.aspx.aspx">
    <system.web>
      <httpRuntime requestValidationMode="2.0" />
    </system.web>
  </location>
</configuration>
